<style type="text/css">
blue {
	
	color: blue;
}

red {
    color: red;
}

orange {
    color: orange;
}

maroon {
    color: maroon;
}

Courier {
	font-family: Courier;
}


fontsize130 {
	font-size: 130%;
}

fontsize150 {
	font-size: 150%;
}

</style>